/* .display{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding-top: .5rem;
	padding-bottom: .5rem;
	flex-direction: column;
	align-content: center;
	text-align: center;

}

.bg-danger{
	background-color: #rgb(113, 25, 214)
} */